@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #a6bcc9;
}

::-webkit-scrollbar-thumb {
  background: #577a8e;
}

::-webkit-scrollbar-thumb:hover {
  background: #233139;
}
